.columns {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.columns > div {
  display: flex;
  flex-direction: column;

}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  padding: 1.5rem;
}

.columns.teaser-standard > div > div {
  padding-left: 0;
  padding-right: 0;
}

.columns.teaser-image-text > div > div {
  padding: 1rem;
}

.columns.list div:nth-child(2),
.columns.list div:nth-child(3),
.columns.list div:nth-child(4) {
  display: none;
}

.columns.home-hero div:nth-child(2) {
  background: var(--color-bg-warmgray-10);
  margin: -1em .5em 0;
  padding: 1.5rem 1rem 0;
}

.columns.teaser-standard > div > div:first-child {
  width: 91%;
  margin-bottom: 2rem;
}

.columns.list p {
  font-family: "Helvetica Neue LT W05_65 Medium", Helvetica, Arial, sans-serif;
  color: var(--color-brandblue-500);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.columns.list a {
  font-size: 1.25rem;
  line-height: 1.375;
}

.columns h3 {
  font-size: 1.5rem;
  line-height: 2.375rem;
  padding-bottom: 1rem;
}

.columns.teaser-standard p,
.columns.teaser-standard a,
.columns.teaser-standard h3,
.columns.teaser-standard h4 {
padding-bottom: 0;
}

.columns.teaser-standard .button-container {
  padding-top: 1rem;
}

.columns.teaser-standard picture {
  height: 100%;
  width: 100%;
}

.columns.teaser-standard img {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  aspect-ratio: 16/9;
  padding-bottom: 1rem;
}

.columns.teaser-standard > div > div:last-child {
  margin-left: 3.5rem;
  padding-right: 0;
}

.columns.teaser-image-text p {
  padding-bottom: .5rem;
  font-weight: 700;
  font-size: 1rem;
}

/* assumes there is no image on left and bg is deepblue */

.columns.teaser-standard.image-right > div > div:first-child {
  background: var(--color-deepblue-10);
  padding-left: 2.5rem;
  padding-top: 11rem;
  width: calc(91% - 2.5rem);
}

.columns.teaser-standard.image-right > div > div:first-child p,
.columns.teaser-standard.image-right > div > div:first-child a,
.columns.teaser-standard.image-right > div > div:first-child h3,
.columns.teaser-standard.image-right > div > div:first-child h4 {
  color: var(--color-white);
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.home-hero {
  margin: -2.1rem 0 0;
}

.columns.home-hero .columns-img-col {
  padding: 0;
}

.columns.home-hero .button-container {
  padding-bottom: 0;
}

.columns.teaser-image-text .button-container {
  padding-bottom: 0;
}

.columns.teaser-image-text .columns-img-col {
  margin-top: -1.5rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .columns {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .columns.list {
    margin-left: -1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  .columns.list > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.teaser-standard > div > div {
    width: 75%;
  }

  .columns.teaser-image-text > div > div {
    padding-left: 9rem;
  }

  .columns.home-hero div:nth-child(2) {
    background: var(--color-bg-warmgray-10);
    margin: -1.5em 1.5em 0;
    padding: 1.5rem 4rem 0;
  }

  .columns.list div:nth-child(2) {
    display: block;
  }

  .columns.teaser-standard > div > div:last-child {
    margin-left: 25%;
  }

  .columns.teaser-standard.image-right > div > div:first-child {
    width: calc(75% - 2.5rem);
  }

  .columns.teaser-image-text.image-left {
  margin-left: 3rem;
  }

  .columns.teaser-image-text.image-right {
    margin-left: 1.5rem;
  }

  .columns.teaser-image-text p {
   font-size: 1.25rem;
  }

  .columns h3 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .columns.teaser-standard h3 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .columns.teaser-image-text.image-left .columns-img-col {
    margin-left: -2.5rem;
    padding: 0 1rem;
    width: 85%;
  }

  .columns.teaser-image-text.image-right .columns-img-col {
    margin-left: -1rem;
    padding: 0 1rem;
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.home-hero {
    background: var(--color-bg-warmgray-10);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    padding: 1.5rem;
  }

  .columns.list {
    margin-left: 0.5rem;
  }

  .columns.list > div {
    align-items: flex-start;
  }

  .columns.teaser-image-text div {
    gap: 0;
  }

  .columns.teaser-standard div {
    gap: 5rem;
    justify-content: flex-start;
  }

  .columns.teaser-standard > div {
    align-items: flex-start;
  }

  .columns.list div:nth-child(3),
  .columns.list div:nth-child(4) {
    display: block;
  }

  .columns.home-hero .columns-img-col {
    padding: 0;
  }

  .columns.home-hero div:nth-child(2) {
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .columns.teaser-image-text .columns-img-col {
    margin-top: 0;
    transform: translateY(-1.5rem);
    align-self: flex-start;
  }

  .columns.teaser-standard > div > div:last-child {
    margin-left: unset;
    max-width: 41%;
  }

  .columns.teaser-image-text.image-left div div:nth-child(2),
  .columns.teaser-image-text.image-right div div:first-child {
   padding: 1.5rem 0;
    margin: 0;
  }

  .columns.teaser-image-text h3,
  .columns.teaser-image-text.image-left div div:nth-child(2) p,
  .columns.teaser-image-text.image-right div div:first-child p {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .columns.teaser-image-text.image-left {
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .columns.teaser-image-text.image-right {
    margin-right: 3rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
  }

  .columns.teaser-image-text.image-right .columns-img-col {
    transform: translate(2.5rem, -2rem);
  }

  .columns.teaser-standard {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .columns.teaser-standard.image-right > div > div:first-child {
    margin-top: 1.5rem;
    align-self: flex-start;
    max-width: 33%
  }

  .columns.teaser-standard.image-right > div > div:last-child {
    max-width: 50%;
  }
}

@media (min-width: 1365px) {
  .columns > div > div {
    padding: 3rem;
  }

  .columns.list {
    margin-left: 0;
    margin-right: 6rem;
  }

  .columns.home-hero h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .columns.teaser-standard {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .columns.teaser-standard > div > div {
    padding-top: 0;
  }

  .columns.teaser-standard.image-right > div > div:first-child {
    margin-top: 0;
  }

  .columns.teaser-standard .button-container {
    padding-bottom: 1.5rem;
  }

  .columns.teaser-standard.image-right > div > div:first-child .button-container {
    padding-bottom: 0;
  }
}

@media (min-width: 1680px) {
  .columns.teaser-standard div {
    gap: 8rem;
  }
}
