.columns {
  margin-right: 1rem;
  margin-left: 1rem;
}

.columns > div {
  display: flex;
  flex-direction: column;

}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  padding: 1.5rem;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.home-hero {
  margin: -2.1rem 0 0;
}

.columns.home-hero .columns-img-col {
  padding: 0;
}

.columns.home-hero div:nth-child(2) {
  background: var(--color-bg-warmgray-10);
  margin: -1em .5em 0;
  padding: 1.5rem 1rem 0;
}

.columns.home-hero .button-container {
  padding-bottom: 0;
}

.columns.list p {
  font-family: "Helvetica Neue LT W05_65 Medium", Helvetica, Arial, sans-serif;
  color: var(--color-brandblue-500);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.columns.list a {
  font-size: 1.25rem;
  line-height: 1.375;
}

.columns.list div:nth-child(2),
.columns.list div:nth-child(3),
.columns.list div:nth-child(4) {
  display: none;
}

@media (min-width: 768px) {
  .columns {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .columns.list {
    margin-left: -1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  .columns.list > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.home-hero div:nth-child(2) {
    background: var(--color-bg-warmgray-10);
    margin: -1.5em 1.5em 0;
    padding: 1.5rem 4rem 0;
  }

  .columns.list div:nth-child(2) {
    display: block;
  }
}

@media (min-width: 1024px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.home-hero {
    background: var(--color-bg-warmgray-10);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    padding: 1.5rem;
  }

  .columns.list {
    margin-left: 0.5rem;
  }

  .columns.list > div {
    align-items: flex-start;
  }

  .columns.list div:nth-child(3),
  .columns.list div:nth-child(4) {
    display: block;
  }

  .columns.home-hero .columns-img-col {
    padding: 0;
  }

  .columns.home-hero div:nth-child(2) {
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }
}

@media (min-width: 1365px) {
  .columns > div > div {
    padding: 3rem;
  }

  .columns.home-hero h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
