.columns {
  margin-right: 0;
  margin-left: 0;
}

.columns.subpage, .columns.highlight-intro {
  margin: 2rem 0 0;
}

.columns.anchors {
  margin-left: 1.5rem;
}

.columns.anchors a {
  color: var(--color-deepblue-10);
  font-weight: 400;
}

.columns.anchors.bg-effectiveblue {
  background: none;
}

.columns h3 {
  font-size: 1.5rem;
  line-height: 2.375rem;
  padding-bottom: 1rem;
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.columns > div > div {
  padding: 1.5rem;
}

.columns.anchors > div {
  flex-direction: row;
  overflow-x: scroll;
  height: fit-content;
}

.columns.anchors > div > div {
  background: var(--color-bg-effectiveblue-100);
  text-align: center;
  padding: 1rem;
  max-height: 354px;
}

.columns.anchors > div > div::before {
  font-family: var(--font-family-icons);
  content: "\e92c";
  position: relative;
  top: 90%;
  transform: rotate(-90deg);
  display: block;
}

.columns.anchors p {
  padding-bottom: 0;
  width: 325px;
}

.columns.anchors h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.columns.anchors .icon-back-button {
  transform: rotate(-90deg);
  color: var(--color-brandblue-500);
}

.columns.anchors .button-container {
  padding-bottom: 2rem;
}

.columns.teaser-standard > div > div {
  padding-left: 0;
  padding-right: 0;
}

.columns.teaser-image-text > div > div {
  padding: 1rem;
}

.columns.z-pattern > div:nth-child(even) {
  flex-direction: column-reverse;
}

.columns.teaser-text {
  margin: 0;
}

.columns.list a {
  font-size: 1.25rem;
  line-height: 1.375;
}

.columns.quote h3 {
  font-family: 'Helvetica Neue LT W05_65 Medium', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.columns.quote h3::before {
  font-family: var(--font-family-icons);
  color: var(--color-brandblue-500);
  content: "\e926";
  margin-left: -1.5rem;
  padding-right: 1rem;
}

.columns.quote h3::after {
  font-family: var(--font-family-icons);
  color: var(--color-brandblue-500);
  content: "\e925";
  padding-left: 100%;
}

.columns.quote.bg-deepblue h3::before,
.columns.quote.bg-medicalblue h3::before,
.columns.quote.bg-deepblue h3::after,
.columns.quote.bg-medicalblue h3::after {
  color: var(--color-bg-effectiveblue-100);
}

.columns.quote p {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
}

.columns.teaser-standard p,
.columns.teaser-standard a,
.columns.teaser-standard h3,
.columns.teaser-standard h4 {
  padding-bottom: 0;
}

.columns.teaser-text h2 a {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.columns.teaser-text strong {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 1rem;
}

.columns.teaser-image-text,
.columns.quote{
  margin: 2.5rem 1.5rem 0;
}

.columns.teaser-image-text.image-right > div{
  flex-direction: column-reverse;
}

.columns.list div:nth-child(2),
.columns.list div:nth-child(3),
.columns.list div:nth-child(4) {
  display: none;
}

.columns.home-hero div:nth-child(2) {
  background: var(--color-bg-warmgray-10);
  margin: -1em .5em 0;
  padding: 1.5rem 1rem 0;
}

.columns.teaser-standard > div > div:first-child {
  width: 91%;
  margin-bottom: 2rem;
}

.columns.teaser-image-text > div > div:last-child {
  padding-bottom: 3rem;
}

.columns.list p {
  font-family: "Helvetica Neue LT W05_65 Medium", Helvetica, Arial, sans-serif;
  color: var(--color-brandblue-500);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.columns.teaser-standard .button-container {
  padding-top: 1rem;
}

.columns.teaser-standard picture,
.columns.subpage picture,
.columns.highlight-intro picture{
  height: 100%;
  width: 100%;
}

.columns.teaser-standard img {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  aspect-ratio: 16/9;
  padding-bottom: 1rem;
}

.columns.subpage img,
.columns.highlight-intro img{
  object-fit: cover;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  aspect-ratio: 4/3;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.quote .columns-img-col {
  max-width: 310px;
  width: 50%;
  margin: -3rem auto 0;
  padding-bottom: 0;
}

.columns.quote img {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

.columns.teaser-standard > div > div:last-child {
  margin-left: 3.5rem;
  padding-right: 0;
}

.columns.subpage h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}

.columns.teaser-image-text p {
  padding-bottom: .5rem;
}

.columns.teaser-image-text pre {
  padding-top: 2rem;
}

.columns.teaser-image-text p:first-child {
  font-size: 1rem;
}

.columns.highlight-text p:last-child {
  padding-bottom: .5rem;
}

.section.related .columns > div > div {
  width: 80%;
}

.section.related .columns > div > div:last-child {
  align-self: flex-end;
}

/* assumes there is no image on left and bg is deepblue */

.columns.teaser-standard.image-right > div > div:first-child {
  background: var(--color-deepblue-10);
  padding-left: 2.5rem;
  padding-top: 11rem;
  width: calc(91% - 2.5rem);
}

.columns.teaser-standard.image-right > div > div:first-child p,
.columns.teaser-standard.image-right > div > div:first-child a,
.columns.teaser-standard.image-right > div > div:first-child h3,
.columns.teaser-standard.image-right > div > div:first-child h4 {
  color: var(--color-white);
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.highlight-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.columns.home-hero {
  margin: -2.2rem 0 0;
}

.columns.home-hero .columns-img-col {
  padding: 0;
}

.columns.home-hero .button-container {
  padding-bottom: 0;
}

.columns.teaser-image-text .button-container {
  padding-bottom: 0;
}

.columns.teaser-image-text .columns-img-col {
  margin: -1.5rem auto 0;
}

.columns.subpage > div > .columns-img-col,
.columns.highlight-intro > div > .columns-img-col{
  margin-top: -3rem;
  padding-bottom: 0;
  width: unset;
}

@media (min-width: 768px) {
  .columns.list {
    margin-left: -1.5rem;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  .columns.subpage, .columns.highlight-intro {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .columns.highlight-text {
    width: 83%;
  }

  .columns h3 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .columns.highlight-text h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-bottom: 1.5rem;
  }

  .columns.highlight-text h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-bottom: 1.5rem;
  }

  .columns > div > div {
    width: 80%;
  }

  .columns.anchors p {
    padding-bottom: 0;
    width: 155px;
  }

  .columns.quote .columns-img-col {
    width: 33%;
    height: 100%
  }

  .columns.teaser-image-text .columns-img-col {
    margin: -3.5rem auto 0;
  }

  .columns.subpage img {
    aspect-ratio: 16/9;
  }

  .columns.teaser-text > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.list > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.anchors > div > div {
    background: var(--color-bg-effectiveblue-100);
    text-align: center;
    padding: 1rem;
    max-height: 450px;
  }

  .columns.teaser-standard > div > div {
    width: 75%;
  }

  .columns.teaser-image-text > div > div,
  .columns.quote > div > div {
    width: 80%;
    margin: 0 auto;
  }

  .columns.home-hero div:nth-child(2) {
    background: var(--color-bg-warmgray-10);
    margin: -1.5em 1.5em 0;
    padding: 1.5rem 4rem 0;
  }

  .columns.list div:nth-child(2) {
    display: block;
  }

  .columns.teaser-text > div > div:first-child {
    max-width: 30%;
  }

  .columns.teaser-standard > div > div:last-child {
    margin-left: 25%;
  }

  .columns.teaser-standard.image-right > div > div:first-child {
    width: calc(75% - 2.5rem);
  }

  .columns.teaser-image-text.image-right {
    margin-left: 1.5rem;
  }

  .columns.teaser-image-text code {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .columns.quote h3, .columns.quote p {
    width: 70%;
    margin: 0 auto;
  }

  .columns.quote h3 {
    font-size: 2rem;
    line-height: 2.75rem;
    padding-bottom: 0;
  }

  .columns.quote h3::before {
    margin-left: -4rem;
  }

  .columns.quote h3::after {
    margin-left: 2rem;
  }

  .columns.teaser-standard h3 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding-right: 1rem;
  }

  .columns.teaser-image-text p:first-child,
  .columns.teaser-image-text p.button-container {
    font-size: 1.25rem;
  }

  .columns.teaser-image-text.image-left .columns-img-col {
    margin-left: 4rem;
    padding: 0 1rem;
    width: 80%;
  }

  .columns.teaser-image-text.image-right .columns-img-col {
    margin-left: -1rem;
    padding: 0 1rem;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns.quote {
    margin: 0 2rem 2rem 8rem;
  }

  .columns.anchors {
    margin-left: .5rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    padding: 2rem;
  }

  .columns.quote > div {
    padding-top: 2rem;
  }

  .columns.subpage > div {
    align-items: flex-start;
  }

  .columns.list > div {
    align-items: flex-start;
  }

  .columns.anchors div {
    gap: 1rem;
  }

  .columns.teaser-image-text div {
    gap: 0;
  }

  .columns.teaser-standard div {
    gap: 5rem;
    justify-content: flex-start;
  }

  .columns.teaser-standard > div {
    align-items: flex-start;
  }

  .columns.anchors > div > div {
    background: var(--color-bg-effectiveblue-100);
    text-align: center;
    padding: 1rem;
    max-height: 380px;
  }

  .columns.anchors p {
    padding-bottom: 0;
    width: 260px;
  }

  .columns.highlight-intro {
    padding: 0;
    margin: 0 0 0 2rem;
  }

  .columns.home-hero {
    background: var(--color-bg-warmgray-10);
  }

  .columns.subpage, .columns.highlight-intro {
    padding-left: 0;
    padding-right: 0;
  }

  .columns.quote .columns-img-col {
    margin: auto 0 auto -8.5rem;
    max-width: 27%;
  }

  .columns.subpage .columns-img-col {
    padding: 0;
    min-width: 50%;
  }

  .columns.home-hero .columns-img-col {
    padding: 0;
  }

  .columns.teaser-image-text .columns-img-col {
    margin: -3rem 0 0 -3rem;
    align-self: flex-start;
    max-width: 53%;
  }

  .columns.subpage > div > .columns-img-col {
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
  }

  .columns.highlight-intro > div > .columns-img-col {
    margin: 1rem 0 0 -4rem;
    padding-right: 0;
    padding-top: 2.5rem;
  }

  .columns.teaser-image-text.image-left .columns-img-col {
    margin-left: -2.5rem;
  }

  .columns.list {
    margin-left: 0.5rem;
  }

  .columns.teaser-text, .columns.highlight-text {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .columns.highlight-text {
    max-width: 75%;
  }

  .columns.teaser-image-text {
    margin: 2.5rem 2rem 0 5rem;
  }

  .columns.highlight-text h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    padding-bottom: 2rem;
  }

  .columns.teaser-text h2 a {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .columns.teaser-text strong {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
  }

  .columns.teaser-image-text code {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  .columns.quote > div > div {
    margin-left: -4rem;
    padding-bottom: 0;
  }

  .columns.z-pattern > div:nth-child(even) {
    flex-direction: row;
  }

  .columns.list div:nth-child(3),
  .columns.list div:nth-child(4) {
    display: block;
  }

  .columns.home-hero div:nth-child(2) {
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  .columns.subpage > div > div:last-child {
    padding: 4rem 5rem 3rem;
  }


  .columns.highlight-intro > div > div:last-child {
    padding-left: 0;
    padding-top: 3rem;
  }

  .columns.teaser-image-text > div > div:last-child {
    max-width: 35%;
    margin: 0 auto;
  }

  .columns.teaser-standard > div > div:last-child {
    margin-left: unset;
    max-width: 41%;
  }

  .columns.teaser-image-text.image-left div div:nth-child(2),
  .columns.teaser-image-text.image-right div div:first-child {
   padding: 1.5rem 0;
    margin: 0;
  }

  .columns.teaser-image-text h3,
  .columns.teaser-image-text.image-left div div:nth-child(2) pre,
  .columns.teaser-image-text.image-left div div:nth-child(2) p,
  .columns.teaser-image-text.image-right div div:first-child pre,
  .columns.teaser-image-text.image-right div div:first-child p {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .columns.teaser-image-text.image-left {
    margin-left: 3.5rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .columns.teaser-image-text.image-right {
    margin-right: 3rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
  }

  .columns.teaser-image-text.image-right .columns-img-col {
    transform: translate(2.5rem, -2rem);
    max-width: 53%;
  }

  .columns.teaser-standard {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .columns.teaser-standard.image-right > div > div:first-child {
    margin-top: 1.5rem;
    align-self: flex-start;
    max-width: 33%
  }

  .columns.teaser-standard.image-right > div > div:last-child {
    max-width: 50%;
  }
}

@media (min-width: 1365px) {
  .columns.quote {
    margin: 2rem 2rem 6rem 17rem;
    max-width: 72%;
  }

  .columns.highlight-intro {
    margin-left: 3.5rem;
  }

  .columns.quote h3 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .columns.quote h3, .columns.quote p {
    width: 90%;
  }

  .columns.anchors p {
    width: 207px;
  }

  .columns.quote .columns-img-col {
    margin: .5rem 0 5rem -9.5rem;
    max-width: 310px;
  }

  .columns.teaser-image-text .columns-img-col {
    max-width: 50%;
  }

  .columns.highlight-intro > div > .columns-img-col {
    margin: 0 0 0 -3.5rem;
    padding: 3rem 0 4rem;
    max-width: 50%;
  }

  .columns > div > div {
    padding: 3rem;
  }

  .columns.quote > div > div {
    padding-bottom: 4rem;
  }

  .columns.list {
    margin-left: 0;
    margin-right: 6rem;
  }

  .columns.highlight-text, .columns.teaser-text {
    margin-left: 9rem;
    max-width: 63%;
  }

  .columns.teaser-text > div > div {
    padding-left: 0;
    padding-right: 0;
  }

  .columns.teaser-standard > div > div {
    padding-top: 0;
  }

  .columns.list > div > div {
    padding: 1.5rem;
  }

  .columns.anchors > div > div {
    max-height: 420px;
  }

  .columns.z-pattern > div > div {
    padding: 1.5rem;
  }

  .columns.z-pattern > div:nth-child(even) {
    margin-left: 9.5rem;
  }

  .columns.z-pattern > div:nth-child(even) > div {
    padding-left: 0;
  }

  .columns.subpage > div > div:last-child {
    padding: 7rem 10rem 4rem 8rem;
  }

  .columns.teaser-image-text > div > div:last-child {
    margin: auto;
  }

  .columns.highlight-intro > div > div:last-child {
    max-width: 41%;
    padding: 4rem 3rem 1rem;
  }

  .columns.subpage h2 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .columns.home-hero h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .columns.quote p strong {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .columns.teaser-image-text code {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .columns.teaser-standard {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .columns.teaser-image-text.image-left {
    margin-left: 4.5rem;
    margin-right: 3rem;
  }

  .columns.teaser-standard.image-right > div > div:first-child {
    margin-top: 0;
  }

  .columns.teaser-standard .button-container {
    padding-bottom: 1.5rem;
  }

  .columns.teaser-standard.image-right > div > div:first-child .button-container {
    padding-bottom: 0;
  }
}

@media (min-width: 1680px) {
  .columns.teaser-standard div {
    gap: 8rem;
  }

  .columns.quote > div > div {
    margin-left: -4rem;
  }
}
