footer {
  background-color: rgb(7 27 69);
  margin-bottom: 0;
}

.footer-wrapper {
  padding-bottom: 0;
}

footer .footer .container {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  padding-left: 1em;
  padding-bottom: 1em;
}

footer .footer > div:not(.container) {
  order: 3;
} 

.accordion-header h1 {
  position: relative;
  padding-right: 25px; /* To create space for the arrow */
}

.accordion-header h1:hover {
  text-decoration: underline;
}

footer .footer .container > div h1 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer .footer .container > div h4 {
  margin-bottom: 0;
  color: var(--color-deepblue-50);
}

footer .footer .copyright p,
footer .footer .copyright p a {
  color: white;
}

footer .footer .copyright p {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 0.95em;
}

footer .footer .container > div h4,
footer .footer .container > div p {
  font-size: 0.9rem;
}

footer .footer .container > div p {
  /* width: 200px; */
  margin-top: 0;
  color: var(--color-deepblue-50);
}

footer .footer .container > div p a {
  color: white;
  font-weight: bold;
}

footer .footer .container > div p em a {
  color: var(--color-link);
  font-style: normal;
}

footer .footer .copyright {
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgb(59, 130, 246, 50%);
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

footer .footer .copyright p:first-child {
  order: 4;
  font-size: 0.8em;
  margin-top: 30px;
}

footer .footer .contact select {
  width: 200px;
  height: 45px; 
  padding: 10px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

footer .footer .container .contact {
  order: -1;
}

/* Style for the accordion headers */
.accordion-header {
  cursor: pointer;
  padding: 2px;
  position: relative;
}

.accordion-header h1::before {
  position: absolute;
  content: '';
  top: .45rem;
  right: 1rem;
  width: 10px;
  height: 10px;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.accordion-header[aria-expanded="true"] h1::before {
  top: .5rem;
  transform: rotate(-135deg);
}

/* Initially hide all accordion content */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

/* Show the accordion content when the .show class is present */
.accordion-content.show {
  display: block;
  max-height: 1000px;
  transition: max-height 0.3s ease-in;
}

footer .footer .contact select:not(:last-child) {
  width: 98%;
}

@media (min-width: 768px) and (max-width: 1364px) {
  footer .footer .container {
    display: flex;
    flex-direction: unset;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
    padding: 2.5em;
    padding-left: 1em;
    padding-bottom: 1em;
  }

  footer .footer .container > div {
    width: 45%; /* Set width to 45% for the first two divs to make them side by side */
    padding-left: 30px;
    margin-bottom: 50px;
  }

  footer .footer .container > div:nth-child(n+3) {
    width: 100%; /* Set width to 100% for the third and fourth divs to stack them vertically */
  }

  footer .footer .copyright p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.85em;
  }

  footer .footer .container > div h4,
  footer .footer .container > div p {
    font-size: 1rem;
  }

  footer .footer .container > div p {
    margin-right: 30px;
  }

  footer .footer .contact select {
    width: 250px;
    height: 60px; 
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  footer .footer .contact select:not(:last-child) {
    width: 98%;
  }

  footer .footer .copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    flex-direction: unset;
    padding-left: unset;
  }

  /* Right-align the first p tag */
  footer .footer .copyright p:first-child {
    text-align: right;
    grid-row: 2; /* Position the first p tag in the second row */
    grid-column: 2;
    padding-right: 2.5em;
    order: unset;
    font-size: 0.8em;
    margin-top: unset;
  }

  footer .footer .copyright p:not(:first-child) {
    grid-column: 1;
    padding-left: 3em;
  }

  footer .footer .container .contact {
    order: unset;
  }
}

@media (min-width: 1364px) {
  footer .footer .container {
    display: flex;
    flex-direction: unset;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: wrap;
    padding: 2.5em;
    padding-left: 1em;
    padding-bottom: 1em;
  }

  footer .footer .container .contact {
    order: unset;
  }

  footer {
    padding: 3rem;
    /* stylelint-disable-next-line alpha-value-notation */
    background-color: rgb(7 27 69/1);
    margin-bottom: 0;
  }
  
  .footer-wrapper {
    padding-bottom: 0;
  }
  
  footer .footer > div {
    display: grid;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  footer .footer > div:not(.container) {
    order: 3;
  } 
  
  footer .footer .container > div h1 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 15px;
  }
  
  footer .footer .container > div h4 {
    margin-bottom: 0;
    color: var(--color-deepblue-50);
  }
  
  footer .footer .copyright p,
  footer .footer .copyright p a {
    color: white;
  }

  footer .footer .container > div h4,
  footer .footer .container > div p {
    font-size: 0.9rem;
  }
  
  footer .footer .container > div p {
    width: 200px;
    margin-top: 0;
    color: var(--color-deepblue-50);
  }
  
  footer .footer .container > div p a {
    color: white;
    font-weight: bold;
  }
  
  footer .footer .container > div p em a {
    color: var(--color-link);
    font-style: normal;
  }
  
  footer .footer .copyright {
    /* stylelint-disable-next-line color-function-notation */
    background-color: rgb(59, 130, 246, 50%);
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-direction: unset;
    padding: 1.5em;
  }

  footer .footer .copyright p:first-child {
    text-align: left;
    flex: 1;
    margin-left: 20px;
    font-size: 1rem;
    padding-top: 20px;
    order: unset;
    margin-top: unset;
  }
  
  footer .footer .copyright p:not(:first-child) {
    text-align: right;
    margin-right: 40px;
    font-size: 1rem;
    padding-top: 10px;
  }
  
  footer .footer .contact select {
    width: 200px;
    height: 40px; 
    padding: 10px;
    font-size: 0.9rem;
  }

  footer .footer .container > div {
    width: 23%;
    margin-bottom: 40px;
    padding-left: 20px;
  }
}