/* Carousel Slider block styles */
.carousel-slider {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-slider .slide-container {
  flex-direction: row;
  position: relative;
  height: inherit;
  width: inherit;
  overflow: hidden;
}

.carousel-slider .slide {
  position: absolute;
  height: inherit;
  width: inherit;
}

.carousel-slider .slide > div {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-slider .slide > div h3 {
  margin: 0;
  text-align: center;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #fff;
}

.who-we-are .default-content-wrapper p,
.who-we-are .default-content-wrapper pre {
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100%;
}

.carousel-slider .slide > div p {
  font-family: "Helvetica Neue LT W05_45 Light", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.carousel-slider .btn-prev {
  left: -15px;
}

.carousel-slider .btn-prev::before {
  content: "\e92c";
}

.carousel-slider .btn-next {
  right: -15px;
}

.carousel-slider .btn-next::before {
  content: "\e92d";
}

.carousel-slider .btn-prev,
.carousel-slider .btn-next {
  position: absolute;
  background: var(--link-color);
  height: 50px;
  width: 50px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  font-family: var(--font-family-icons);
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.carousel-slider .btn-prev:hover,
.carousel-slider .btn-next:hover {
  background: var(--link-color-hover);
}

.carousel-slider ul.dots {
  list-style: none;
  position: absolute;
  padding: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.carousel-slider ul.dots li {
  display: inline-block;
  margin: 0 0.75rem;
}

.carousel-slider ul.dots li button {
  border: none;
  font-size: 0;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: rgb(255 255 255 / 50%);
}

.carousel-slider ul.dots li.active button {
  background: rgb(255 255 255);
}

/* Who we are view */
.who-we-are {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1680px;
  margin: 80px auto;
  padding: 0 0 30px !important;
  background-color: var(--color-bg-warmgray-10);
}

.who-we-are .default-content-wrapper {
  flex-direction: column;
  width: 60%;
  padding-bottom: 2rem;
  align-self: flex-end;
}

.who-we-are .default-content-wrapper h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.who-we-are .default-content-wrapper code {
  font-size: 1.375rem;
  line-height: 2rem;
  width: 100%;
}

.who-we-are .carousel-slider-wrapper {
  margin: -55px 0 0;
  width: 952px;
  height: 600px;
  background: var(--color-deepblue-10);
  padding: 2rem 1.5rem 6rem;
}

/* Stories View */
.carousel-slider.stories {
  height: 233px;
}

.carousel-slider.stories .slide {
  width: 800px;
  padding-right: 80px;
}

.carousel-slider.stories .slide > div {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 10px;
  transition: all 0.18s ease-in;
  align-items: flex-start
}

.carousel-slider.stories .slide > div div {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 40px;

}

.carousel-slider.stories .slide > div:hover {
  background: var(--color-bg-effectiveblue-100);
}

.carousel-slider.stories .slide > div img {
  height: 213px;
  width: auto;
  object-fit: cover;
}

.carousel-slider.stories .slide > div div h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: left;
  color: var(--link-color);
  padding-bottom: 1rem;
}

.carousel-slider.stories .slide > div div p {
  text-align: left;
  font-size: 1.1em;
  color: var(--color-deepblue-10);
}

.carousel-slider.stories .btn-prev {
  left: 0;
}

.carousel-slider.stories .btn-next {
  right: 0;
}

.carousel-slider.stories ul.dots {
  display: none;
}



/* mobile views */
@media (max-width: 1440px) {
  .carousel-slider-container {
    margin: 1rem 1rem 2rem;
  }
}


@media (max-width: 1024px) {
  /* Who we are view */
  .who-we-are {
    flex-direction: column;
    background-color: transparent;
  }

  .who-we-are .default-content-wrapper {
    width: 90%;
    padding: 2rem 1.5rem 6rem;
    background-color: var(--color-bg-warmgray-10);
  }

  .who-we-are .carousel-slider-wrapper {
    margin: -2rem auto 2rem;
    width: 82vw;
    height: 500px;
  }


  /* Stories View */
  .carousel-slider.stories .slide {
    width: 75vw;
  }

  .carousel-slider.stories .slide > div img {
    width: 177px;
  }

  .carousel-slider.stories .slide > div div h3 {
    font-size: 1.5rem;
    width: 50vw;
    line-height: 2rem;
  }

  .carousel-slider.stories .slide > div div p {
    width: 50vw;
    margin-top: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .carousel-slider.stories .btn-prev,
  .carousel-slider.stories .btn-next {
    display: none;
  }
}


@media (max-width: 425px) {
  /* Stories view */
  .carousel-slider.stories .slide  {
    width: auto;
    padding: 0;
  }

  .carousel-slider.stories .slide > div {
    flex-direction: column;
    padding: 10px 0 0 10px;
    width: auto;
  }

  .carousel-slider.stories .slide > div div {
    padding: 10px 0;
  }

  .carousel-slider.stories .slide > div img {
    width: 177px;
  }

  .carousel-slider.stories .slide > div div h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .carousel-slider.stories .slide > div div p {
    display: none;
  }

  .carousel-slider.stories .btn-prev,
  .carousel-slider.stories .btn-next {
    display: none;
  }
}

@media (min-width: 1365px) {
  .who-we-are .default-content-wrapper code {
    font-size: 1.75rem;
  }

  .who-we-are .default-content-wrapper {
    width: 50%;
  }
}

@media (min-width: 1680px) {
  .who-we-are .default-content-wrapper {
    width: 40%;
  }
}
