/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* we only need woff2 https://caniuse.com/?search=woff2 */
@font-face {
  font-display: swap;
  font-family: "Helvetica Neue LT W05_45 Light";
  src: url("../fonts/HN-45-light.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: "Helvetica Neue LT W05_65 Medium";
  src: url("../fonts/HN-65-med.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: "Helvetica Neue LT W05_75 Bold";
  src: url("../fonts/HN-75-bold.woff2") format("woff2")
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

:root {
  /* colors */
   --color-deepblue-10: rgb(7 27 69);
   --color-deepblue-50: rgb(156 164 181); /* use for open menu link color */
   --color-brandblue-500: rgb(0 51 160);
   --link-color: rgb(0 51 160);
   --link-color-hover: rgb(0 36 107);
   --color-white: rgb(255 255 255);
   --color-bg-deepblue-20: rgb(32 50 88); /* use for open menu subnav background */
   --color-bg-effectiveblue-100: rgb(229 236 242);
   --color-bg-warmgray-10: rgb(238 237 235);
   --color-bg-medicalblue-500: rgb(25 110 128);
   --color-bg-vividred-500: rgb(204 62 68);
   --color-bg-vividred-400: rgb(248 182 185);
   --border-yellow: rgb(241 196 0);
   --color-link: rgb(102 200 235);

  /* fonts */
  --body-font-family: 'Arial', 'Helvetica', 'Roboto', sans-serif;
  --heading-font-family: 'Helvetica Neue LT W05_75 Bold', 'Helvetica', 'Arial', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --font-family-icons: 'theme-icons';

  /* body sizes */
  --body-font-size-m: 1.125rem; /* base text */
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 3rem;
  --heading-font-size-xl: 2.5rem;
  --heading-font-size-l: 2.25rem;
  --heading-font-size-m: 2rem;
  --heading-font-size-s: 1.75rem;
  --heading-font-size-xs: 1.5rem;
  --heading-font-size-xxs: 1.25rem;
  --heading-font-size-xxxs: 1.125rem;

  /* nav height */
  --nav-height: 128px;
  --nav-height-mobile: 72px;
  --nav-height-xl: 140px;
}

  body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--color-deepblue-10);
  background-color: var(--color-white);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

/* heading styles base, mobile */
h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  scroll-margin: calc(var(--nav-height) + 1rem);
}

h1 {
  font-size: var(--heading-font-size-m);
  line-height: 2.625rem;
  margin: 0;
  padding-bottom: 2rem;
}

h2 {
  font-size: var(--heading-font-size-s);
  line-height: 2.25rem;
  margin: 0;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: var(--heading-font-size-xxs);
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 1rem;
}

h4 {
  font-size: var(--heading-font-size-xxxs);
  line-height: 1.625rem;
  margin: 0;
  padding-bottom: 1rem;
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

h1, h2, h3, h4, html, p {
  color: var(--color-deepblue-10);
}

h1 > a, h2 > a, h3 > a, h4 > a {
  color: var(--color-brandblue-500);
}

h1 em, h2 em, h3 em,
h4 em {
  font-style: normal;
}

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  padding-bottom: 2rem;
  margin: 0;
}

/* overwrite default pre styling so it can be used for unique style that can be applied via "code" style in MS Word */
pre {
  display: block;
  text-wrap: unset;
  margin: 0;
  padding-bottom: 1.5rem;
}

code {
  font-family: 'Helvetica Neue LT W05_45 Light', Helvetica, Arial, sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
}

select {
  font-size: 1.2rem;
  color: var(--color-bg-deepblue-20);
  font-weight: 700;
  border: 1rem solid var(--color-white);
  width: 300px;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}

/* the relevant :before styles are in lazy-styles */
.external, .file, .mail, .download, .excel, .pdf, .print, .zip {
  display: inline-block;
  padding-left: 1.5rem;
  position: relative;
}

/* use these classes for block variants */

.bg-effectiveblue {
  background-color: var(--color-bg-effectiveblue-100);
}

.bg-warmgray {
  background-color: var(--color-bg-warmgray-10);
}

.bg-medicalblue {
  background-color: var(--color-bg-medicalblue-500);
}

.bg-deepblue {
  background-color: var(--color-deepblue-10);
}

.bg-brandblue {
  background-color: var(--color-brandblue-500);
}

.bg-vividred {
  background-color: var(--color-bg-vividred-500);
}

.bg-medicalblue *, .bg-deepblue *, .bg-brandblue *, .bg-vividred * {
  color: var(--color-white);
}

.bg-medicalblue a, .bg-deepblue a, .bg-brandblue a, .bg-vividred a {
  color: var(--color-white);
}

.vividred h2, .vividred h3, .vividred h4 {
  color: var(--color-bg-vividred-500);
}

/* buttons */

a.button.primary {
  font-weight: 700;
  text-decoration: none;
}

a.button.primary:hover, a.button.primary:focus, a.button.primary:active {
  color: var(--color-deepblue-10);
  cursor: pointer;
}

.bg-medicalblue a.button.primary,
.bg-deepblue a.button.primary,
.bg-brandblue a.button.primary,
.bg-vividred a.button.primary {
  color: var(--color-white);
}

a.button.secondary, a.button.tertiary {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid var(--color-brandblue-500);
  padding: 0.625rem 1.5rem;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  color: var(--color-brandblue-500);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button.secondary:hover, a.button.secondary:focus, a.button.secondary:active {
  color: var(--color-deepblue-10);
  border: 2px solid var(--color-deepblue-10);
}

a.button.secondary:hover,
a.button.secondary:focus,
button:hover, button:focus {
  cursor: pointer;
}

.bg-medicalblue a.button.secondary,
.bg-deepblue a.button.secondary,
.bg-brandblue a.button.secondary,
.bg-vividred a.button.secondary {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

.vividred a.button.secondary,
.vividred a.button.secondary:hover,
.vividred a.button.secondary:focus,
.vividred a.button.secondary:active {
  border: 2px solid var(--color-bg-vividred-500);
  color: var(--color-bg-vividred-500);
  background: transparent;
}

.bg-medicalblue a.button.secondary:hover,
.bg-deepblue a.button.secondary:hover,
.bg-brandblue a.button.secondary:hover,
.bg-vividred a.button.secondary:hover {
  border: 2px solid var(--color-white);
  color: var(--color-brandblue-500);
  background: var(--color-white);
}

a.button.tertiary, button.tertiary {
  background-color: var(--color-brandblue-500);
  border: 2px solid currentcolor;
  color: var(--color-white);
}

a.button.tertiary:hover, a.button.tertiary:focus, a.button.tertiary:active {
  background-color: var(--color-deepblue-10);
  cursor: pointer;
}

a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

a:focus-visible {
  outline: 2px solid var(--border-yellow);
  outline-offset: 2px;
}

button:disabled, button:disabled:hover {
  cursor: unset;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--color-deepblue-10);
  color: currentcolor;
}

main input:hover {
  border: 1px solid var(--color-deepblue-10);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

main li a:link, main p a:link {
  color: var(--link-color);
  text-decoration: underline;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main {
  max-width: 1680px;
  margin: 2rem auto;
}

main .section {
  padding-bottom: 4rem;
}

main ul {
  padding-left: 1.5rem;
}

.section.related {
  padding-bottom: 0;
  padding-top: 1.5rem;
  margin-bottom: 4rem;
}

.section.related h3, .section.related h4, .section.related p {
  padding-bottom: .5rem;
}

.section .default-content-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.section .default-content-wrapper p:last-child {
  padding-bottom: 0;
}

/* special class Frenius uses for colored blocks */
.emotional {
  color: var(--color-white);
  fill: var(--color-deepblue-10);
}

/* Breakpoints are 768, 1024, 1365 */

@media (min-width: 768px) {
  h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-bottom: 1.5rem;
  }

  .section .default-content-wrapper p,
  .section .default-content-wrapper pre,
  .section .default-content-wrapper h4,
  .section .default-content-wrapper h2,
  .section .default-content-wrapper h3 {
    width: 83.3%;
  }

  main .section.related .columns img {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    max-width: 100%;
    aspect-ratio: 16/9;
    padding-bottom: 1rem;
  }
}

/* Tablet */
@media (min-width: 1024px) {
  main {
    margin: 93px auto 0;
  }

  main .section {
    padding-bottom: 5rem;
  }

  main .section.related {
    margin-bottom: 5rem;
  }

  main .section.related .columns > div > div {
    max-width: 40%;
  }

  main .section.related p.button-container {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section .default-content-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  pre {
    padding-bottom: 2rem;
  }

  code {
    line-height: 2.5rem;
    font-size: 1.75rem;
  }

  h1 {
    font-size: var(--heading-font-size-xl);
    padding-bottom: 3rem;
  }

  h2 {
    font-size: var(--heading-font-size-l);
    line-height: 3rem;
    padding-bottom: 2rem;
  }

  h3 {
    font-size: var(--heading-font-size-xs);
    line-height: 2rem;
    padding-bottom: 1.5em;
  }

  h4 {
    font-size: var(--heading-font-size-xxs);
    line-height: 1.75rem;
    padding-bottom: 1.5em;
  }
}

/* Desktop */
@media (min-width: 1365px) {
  main {
    margin: var(--nav-height) auto 0;
  }

  h1 {
    font-size: var(--heading-font-size-xxl);
    line-height: 4rem;
  }

  .section > div {
    max-width: 1680px;
    margin: auto;
  }

  .section .default-content-wrapper {
    padding-left: 0;
    margin-left: 9.5rem;
  }

  .section .default-content-wrapper h1,
  .section .default-content-wrapper h2 a {
    margin-left: -7.5rem;
  }

  .section.no-indent .default-content-wrapper {
    margin-left: 3rem;
  }

  .section.no-indent .default-content-wrapper h1,
  .section.no-indent .default-content-wrapper h2 a {
    margin-left: 0;
  }

  .section.related .default-content-wrapper {
    margin-left: 4rem;
  }

  .section.related h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section .default-content-wrapper pre,
  .section .default-content-wrapper p,
  .section .default-content-wrapper h2,
  .section .default-content-wrapper h3,
  .section .default-content-wrapper h4{
    width: 70%;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--color-bg-effectiveblue-100);
}

